:root {
    --primary-color: #3399cc;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
  }
  
  /* navbar */
  .nav-container {
    background: rgba(255, 255, 255, 0.05); 
    box-sizing: border-box;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  
  .navbar-nav a {
    padding-left: 1rem;
  }
  
  .navbar-nav a:hover {
    background-color: #3399cc69;
  }
  
  .navbar-brand img {
    width: 50px;
  }
  /* akhir navbar */

  @media  screen and (min-width: 1200px) {
    .navbar-nav a:hover {
      width: fit-content;
      background-color: #3399cc30;
    }

    .turn-on {
      border-bottom: 2px solid var(--primary-color);
      transition: 1s ease all;
    }
    
  }

  @media  screen and (min-width: 1400px) {

    .navbar-nav a:hover {
      width: fit-content;
      background-color: #3399cc30;
    }

    .turn-on {
      border-bottom: 2px solid var(--primary-color);
      transition: 1s ease all;
    }
    
  }